lombok.anyConstructor.addConstructorProperties=true

#https://stackoverflow.com/questions/48330613/objectmapper-cant-deserialize-without-default-constructor-after-upgrade-to-spri

#lombok release notes
#
#v1.16.20 (January 9th, 2018)
#PLATFORM: Better support for jdk9 in the new IntelliJ, Netbeans and for Gradle.
#BREAKING CHANGE: lombok config key lombok.addJavaxGeneratedAnnotation now defaults to false instead of true. Oracle broke this annotation with the release of JDK9, necessitating this breaking change.
#BREAKING CHANGE: lombok config key lombok.anyConstructor.suppressConstructorProperties is now deprecated and defaults to true, that is, by default lombok no longer automatically generates @ConstructorProperties annotations. New config key lombok.anyConstructor.addConstructorProperties now exists; set it to true if you want the old behavior. Oracle more or less broke this annotation with the release of JDK9, necessitating this breaking change.
#DEVELOPMENT: Compiling lombok on JDK1.9 is now possible.